<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Book App</title>
  <link rel="stylesheet" href="/stylesheets/nav.css" />
</head>
<body>

  <!-- Navbar Start -->
  <nav class="navbar">
    <div class="nav-logo">
      <img src="logo.png" alt="Logo" />
      <span>BookZone</span>
    </div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/register">Register Book</a></li>
      <li><a href="/ShowBooks">Show Books</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  <!-- Navbar End -->

  

</body>
</html>
